<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IAC2021SQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- SSISParamsConnectionString Must ALWAYS point to IACSQLPRODUCTION regardless of IACSQL2010SQLConnectionString!!!-->
    <add name="IAC2021SQL.Properties.Settings.SSISParamsConnectionString" connectionString="Data Source=SQL-IAC;Initial Catalog=IACSQLPRODUCTION;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="IAC2021SQL.Properties.Settings.IAC2010SQLConnectionString" connectionString="Data Source=SQL-IAC;Initial Catalog=IACSQLPRODUCTION;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <IAC2021SQL.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>Segoe UI, 8.25pt</value>
      </setting>
    </IAC2021SQL.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginAPIServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="LoginAPIServiceHttpEndpoint1" />
        <binding name="MessageWSServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="MessageWSServiceHttpEndpoint1" />
        <binding name="GroupWSServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="GroupWSServiceHttpEndpoint1" />
        <binding name="SubscriberWSServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="SubscriberWSServiceHttpEndpoint1" />
        <binding name="TemplateWSServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="TemplateWSServiceHttpEndpoint1" />
        <binding name="ReportWSServiceHttpEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="ReportWSServiceHttpEndpoint1" />
        <binding name="ReportWSServiceHttpEndpoint2">
          <security mode="Transport" />
        </binding>
        <binding name="ReportWSServiceHttpEndpoint11" />
        <binding name="ReportWSServiceHttpEndpoint3">
          <security mode="Transport" />
        </binding>
        <binding name="ReportWSServiceHttpEndpoint12" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/GeneralWSService.svc" binding="basicHttpBinding" bindingConfiguration="ReportWSServiceHttpEndpoint3" contract="GeneralWSProxy.IGroup" name="ReportWSServiceHttpEndpoint2" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/GeneralWSService.svc" binding="basicHttpBinding" bindingConfiguration="ReportWSServiceHttpEndpoint12" contract="GeneralWSProxy.IGroup" name="ReportWSServiceHttpEndpoint11" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/GroupWSService.svc" binding="basicHttpBinding" bindingConfiguration="GroupWSServiceHttpEndpoint" contract="GroupWSProxy.IGroup" name="GroupWSServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/GroupWSService.svc" binding="basicHttpBinding" bindingConfiguration="GroupWSServiceHttpEndpoint1" contract="GroupWSProxy.IGroup" name="GroupWSServiceHttpEndpoint1" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/LoginAPIService.svc" binding="basicHttpBinding" bindingConfiguration="LoginAPIServiceHttpEndpoint" contract="LoginWSProxy.ILoginAPI" name="LoginAPIServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/LoginAPIService.svc" binding="basicHttpBinding" bindingConfiguration="LoginAPIServiceHttpEndpoint1" contract="LoginWSProxy.ILoginAPI" name="LoginAPIServiceHttpEndpoint1" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/MessageWSService.svc" binding="basicHttpBinding" bindingConfiguration="MessageWSServiceHttpEndpoint" contract="MessageWSProxy.IMessage" name="MessageWSServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/MessageWSService.svc" binding="basicHttpBinding" bindingConfiguration="MessageWSServiceHttpEndpoint1" contract="MessageWSProxy.IMessage" name="MessageWSServiceHttpEndpoint1" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/ReportWSService.svc" binding="basicHttpBinding" bindingConfiguration="ReportWSServiceHttpEndpoint" contract="ReportWSProxy.IReport" name="ReportWSServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/ReportWSService.svc" binding="basicHttpBinding" bindingConfiguration="ReportWSServiceHttpEndpoint1" contract="ReportWSProxy.IReport" name="ReportWSServiceHttpEndpoint1" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/SubscriberWSService.svc" binding="basicHttpBinding" bindingConfiguration="SubscriberWSServiceHttpEndpoint" contract="SubscriberWSProxy.ISubscriber" name="SubscriberWSServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/SubscriberWSService.svc" binding="basicHttpBinding" bindingConfiguration="SubscriberWSServiceHttpEndpoint1" contract="SubscriberWSProxy.ISubscriber" name="SubscriberWSServiceHttpEndpoint1" />
      <endpoint address="https://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/TemplateWSService.svc" binding="basicHttpBinding" bindingConfiguration="TemplateWSServiceHttpEndpoint" contract="TemplateWSProxy.ITemplate" name="TemplateWSServiceHttpEndpoint" />
      <endpoint address="http://ui.solutionsbytext.com/SBT.App.SetUp/wsservices/TemplateWSService.svc" binding="basicHttpBinding" bindingConfiguration="TemplateWSServiceHttpEndpoint1" contract="TemplateWSProxy.ITemplate" name="TemplateWSServiceHttpEndpoint1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ManagedDTS" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.200.0.0" newVersion="16.200.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.200.0.0" newVersion="16.200.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.200.0.0" newVersion="16.200.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.200.0.0" newVersion="16.200.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.12.0.0" newVersion="106.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.OLE.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>